<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to t('views.common.index', model: Book.model_name.human), books_path  %>
      <%= link_to t('views.common.index', model: User.model_name.human), users_path  %>
      <%= link_to t('users.sessions.destroy.sign_out'), destroy_user_session_path, method: :delete  %>
    <% else %>
      <%= link_to t('users.sessions.new.sign_in'), new_user_session_path %>
      <%= link_to t('users.registrations.new.sign_up'),  new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
